*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1d2c;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-image: url(./Vectores/Rectangle\ 33.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
    background-color: transparent;
}

nav>div img{
    width: 24px;
    filter: opacity(0.5) drop-shadow(0 0 0 #ffffff); 
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa~ul{
    background-color: #242635;
    width: 100%;
    list-style: none;
    height: 100%;
    position: absolute;
    right: 100%;
    transition: all 200ms linear;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0;
    z-index: 9;
    padding: 2rem;
}

ul>li{
    padding-bottom: 10px;
}

.nav-item{
    text-decoration: none;
    color: #ffffff;
}

.home1>a{
    color: #f1a600;
}

.titulo{
    font-size: 100px;
    font-weight: 600;
    padding-top: 0.2em;
}

.subtitulo1{
    font-size: 35px;
    font-weight: 400;
    padding: 1em 30% 0 0;
}

.subtitulo2{
    font-size: 35px;
    font-weight: 400;
    padding-top: 1em;
}

#about-section{
    position: relative;
    display: flex;
    justify-content: flex-end;   
}

section .foto{
    width: 560px;
    padding: 10rem 4rem 4rem 0;
}

#about-section>div{
    position: absolute;
    left: 0;
    padding: 0 6rem;
}

.social-icon-wrapper{
    margin-top: 1rem;
    padding-top: 1em;
}

.social-icon-wrapper>.icon{
    margin-right: 1rem;
    width: 35px;
}

.social-icon-wrapper{
    margin-top: 1rem;
}

.social-icon-wrapper>.icon{
    margin-right: 1rem;
    width: 24px;
}

#personal-info-section{
    text-align: center;
    padding: 1.5rem;
    background-image: url(./Vectores/Rectangle\ 33.svg);
    background-repeat: repeat;
    background-size: auto;
}
h2{
    font-size: 35px;
    font-weight: 600;
    padding-top: 1rem;
}
section .info{
    justify-content: center;
    padding: 1rem 17% 4rem 17%;
}
.academic-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.pdv-card img{
    width: 300px;

}

#personal-experiencia{
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 2rem 10rem 3rem 10rem;
}

#personal-experiencia>img{
    position: absolute;
    right: 22%;
    top: 27%;
    width: 16px;
}

#personal-experiencia h3{
   display: grid; 
   place-items: center;
}

section .Amazon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

section .Amazon>img{
    width: 110px;
}

section .Airbnb{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

section .Airbnb>img{
    width: 110px;
}

section .Google{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

section .Google>img{
    width: 110px;
}

#personal-habilidades{
    background-image: url(./Vectores/Rectangle\ 34-1.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    padding: 1rem 2rem 2rem 20%;
}

#personal-habilidades h3{
    color: #f1a600;
    font-size: 55px;
}

#personal-habilidades p{
    padding: 0 29rem 0 4rem;
    font-weight: 400;
}

.Mobile-App{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.Motion-design{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.Creacion-Mantenimiento{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.Gestion-Proyectos{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

#personal-portafolio>h2{
    text-align: center;
    padding-top: 3rem;
}

#personal-portafolio h3{
    padding-top: 1rem;
}

.secFirst{
    padding-left: 100px;
    padding-top: 3rem;
}

.secFirst>img{
    width: 320px;
    box-shadow: -12px -12px #f1a600, 12px -12px #f1a600;
}

.secSecond{
    padding-left: 470px;
    padding-top: 3rem;
}

.secSecond>img{
    width: 320px;
    box-shadow: -12px -12px #242635, 12px -12px #242635;
}

.secThird{
    padding-top: 3rem;
    padding-left: 100px;
    padding-bottom: 3rem;
}

.secThird>img{
    width: 320px;
    box-shadow: -12px -12px #f1a600, 12px -12px #f1a600;
}

#Contacto{
    background-image: url(./Vectores/Rectangle\ 34.svg);
    background-repeat: repeat;
    text-align: center;
    align-items: center;
}

#Contacto>div{
    display: flex;
    justify-content: center;
}

#Contacto>h2{
    padding-top: 2rem;
}

#Contacto h3{
    padding: 0.5rem 0;
}

#Contacto p{
    font-size: 14px;
    font-weight: 400;
    color: #e5e5e5;
}

.phone{
    padding: 3rem 5rem 4rem 4rem;
}

.phone>img{
   width: 80px;
}

.email{
    padding: 5rem 4rem 4rem 5rem;
}

.email>img{
   width: 80px;
}

footer{
    text-align: center;
    padding: 3rem 0;
}

footer>p{
    padding-top: 0.5rem;
}

footer>div{
    display: flex;
    justify-content: center;
}

footer p{
    padding-right: 0.5rem;
}

footer img{
    width: 28px;
}

@media only screen and (min-width: 768px){
   
    label{
        display: none;
    }
    input#menu-hamburguesa~ul{
        position: static;
        background-color: transparent;
        display: flex; 
    }
    input#menu-hamburguesa~ul>li{
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 768px){
   
    body{
        background-size: 60%;
    }
  
    .titulo{
        font-size: 50px;
        padding-top: 0;
    }
    
   .subtitulo1{
        font-size: 20px;
        padding: 1rem 5rem 0 0;
    }
    
    .subtitulo2{
        font-size: 18px;
    }

      section .foto{
        width: 240px;
        padding: 5rem 1rem 2rem 0;
    }
    
    #about-section>div{
        padding: 0 1rem;
    }
    
    .social-icon-wrapper{
        padding-top: 1rem;
    }
    
    .social-icon-wrapper>.icon{
        margin-right: 1rem;
        width: 24px;
    }
    
    .social-icon-wrapper{
        margin-top: 0;
    }
    
   #personal-info-section{
        text-align: center;
        padding: 1rem;
    }
    h2{
        font-size: 32px;
        padding-top: 0;
    }
    section .info{
        padding: 1rem 0; 
        text-align: center;
        color: #e5e5e5;
        font-size: 16px;
    }
    .academic-wrapper{
        justify-content: space-around;
        padding: 1rem 0;
    }

    .academic-wrapper img{
        width: 50px;
    }

    .academic-wrapper h3{
        font-size: 18px;
        color: #e5e5e5
    }

    .academic-wrapper p{
        font-size: 10px;
        color: #e5e5e5        
    }

    #personal-experiencia{
        position: relative;
        justify-content: center;
        text-align: center;
        padding: 2rem 1rem 3rem 1rem;
    }
    
    #personal-experiencia>img{
        position: absolute;
        right: 1rem;
        top: 7rem;
        width: 13px;
    }
    
    #personal-experiencia h3{
       display: grid; 
       place-items: center;
    }

    #personal-experiencia h4{
        font-size: 18px;
        color: #e5e5e5;

    }
    
    #personal-experiencia h5{
        font-size: 12px;
        color: #e5e5e5;
    }

    #personal-experiencia h6{
        font-size: 10px;
        color: #e5e5e5;
    }

    section .Amazon{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }
    
    section .Amazon>img{
        width: 80px;
    }

    section .Amazon>div{
        text-align: initial;
        padding-right: 3rem;
    }
    
    section .Airbnb{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }
    
    section .Airbnb>img{
        width: 80px;
    }

    section .Airbnb>div{
        text-align: initial;
        padding-right: 3rem;
    }
    
    section .Google{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }
    
    section .Google>img{
        width: 80px;
    }

    section .Google>div{
        text-align: initial;
    }
    
    #personal-habilidades{
        background-size: 150px;
        background-repeat: repeat-y;
        padding: 2rem 2rem 2rem 3rem;
    }

    #personal-habilidades>h2{
        padding-left: 2rem;
    }
    
    #personal-habilidades h3{
        color: #f1a600;
        font-size: 35px;
    }
    
    #personal-habilidades p{
        padding: 0 3rem;
        font-weight: 400;
    }
    
    .Mobile-App{
        padding: 1rem 0;
    }
    
    .Motion-design{
        padding: 1rem 0;
    }
    
    .Creacion-Mantenimiento{
        padding: 1rem 0;
    }
    
    .Gestion-Proyectos{
        padding: 1rem 0;
    }
    

    #personal-portafolio>h2{
        padding-top: 2rem;
    }
    
    #personal-portafolio h3{
        padding-top: 0.3rem;
    }
    
    .secFirst{
        padding-left: 1rem;
        padding-top: 3rem;
    }
    
    .secFirst>img{
        width: 200px;
        box-shadow: -7px -9px #f1a600, 7px -9px #f1a600;
    }
    
    .secSecond{
        padding-left: 10rem;
        padding-top: 1rem;
    }
    
    .secSecond>img{
        width: 200px;
        box-shadow: -7px -9px #242635, 7px -9px #242635;
    }
    
    .secThird{
        padding: 1rem 0 7rem 1rem;
    }
    
    .secThird>img{
        width: 200px;
        box-shadow: -7px -9px #f1a600, 7px -9px #f1a600;
    }

    

    #Contacto>div{
        display: flex;
        justify-content: space-evenly;
    }
    
    #Contacto h3{
        padding: 0.5rem 0;
    }
    
    #Contacto p{
        font-size: 14px;
        font-weight: 400;
        color: #e5e5e5;
    }
    
    .phone{
        padding: 3rem 1rem 1rem 1rem;
    }
    
    .phone>img{
       width: 80px;
    }
    
    .email{
        padding: 5rem 1rem 3rem 1rem;
    }
    
    .email>img{
       width: 80px;
    }
    
    footer{
        text-align: center;
        padding: 3rem 0;
    }
    
    footer>p{
        padding-top: 0.5rem;
    }
    
    footer>div{
        display: flex;
        justify-content: center;
    }
    
    footer p{
        padding-right: 0.5rem;
    }
    
    footer img{
        width: 28px;
    }

}

@media only screen and (min-width: 1100px){
    
    body{
        background-size: 60%;
    }

    input#menu-hamburguesa~ul>li{
        padding: 0 1.5rem;
    }
    
    .titulo{
        padding-top: 0.2em;
    }
    .subtitulo1{
        padding: 1em 30% 0 0;
    }
    .subtitulo2{
        padding-top: 1em;
    }
    section .foto{
        width: 670px;
        padding: 11rem 4rem 5rem 0;
    }
    #about-section>div{
        padding: 0 6rem;
    }
    .social-icon-wrapper{
        margin-top: 1rem;
        padding-top: 1em;
    }
    .social-icon-wrapper>.icon{
        margin-right: 1rem;
        width: 35px;
    }

    #personal-habilidades{
        padding: 1rem 2rem 2rem 22%;
    }

    #personal-experiencia>img{
        right: 22%;
        top: 26%;
        width: 16px;
    }

    .secSecond{
        padding-left: 580px;
    }

}

@media only screen and (min-width: 1200px){
    
    input#menu-hamburguesa~ul>li{
        padding: 0 2rem;
    }

    body{
        background-image: url(./Vectores/Rectangle\ 34.svg);
        background-size: 62%;
    }

    section .foto{
        width: 740px;
        padding: 14rem 5rem 7rem 0;
    }

    .titulo{
        padding-top: 0.1em;
        font-size: 150px;
    }

    .subtitulo1{
        padding: 1em 19% 0 0;
    }

    .secSecond{
        padding-left: 700px;
    }

    .secFirst{
        padding-left: 200px;
        padding-top: 4rem;
    }

    .secThird{
        padding-top: 4rem;
        padding-left: 200px;
    }

    .secFirst>img{
        width: 370px;
        box-shadow: -15px -15px #f1a600, 15px -15px #f1a600;
    }

    .secSecond>img{
        width: 370px;
        box-shadow: -15px -15px #242635, 15px -15px #242635;
    }
   
    .secThird>img{
        width: 370px;
        box-shadow: -15px -15px #f1a600, 15px -15px #f1a600;
    }

    footer img{
        width: 33px;
    }

}


@media only screen and (min-width: 1300px){
   
    input#menu-hamburguesa~ul>li{
        padding: 0 2rem;
    }
   
    body{
        background-image: url(./Vectores/Rectangle\ 34.svg);
        background-size: 58%;
    }
    .titulo{
        padding-top: 0.1em;
        font-size: 150px;
    }
    .subtitulo1{
        padding: 1em 20% 0 0;
    }
    .subtitulo2{
        padding-top: 1em;
    }
    section .foto{
        width: 720px;
        padding: 14rem 5rem 7rem 0;
    }
    #about-section>div{
        padding: 0 7rem;
    }
    .social-icon-wrapper{
        margin-top: 1rem;
        padding-top: 1em;
    }
    .social-icon-wrapper>.icon{
        margin-right: 1rem;
        width: 55px;
    }

    #personal-habilidades{
        padding: 1rem 2rem 2rem 23%;
    }

    #personal-portafolio h3{
        font-size: 30px;
    }

    .secSecond{
        padding-left: 700px;
    }

    .secFirst{
        padding-left: 200px;
        padding-top: 4rem;
    }

    .secThird{
        padding-top: 4rem;
        padding-left: 200px;
    }

    .secFirst>img{
        width: 420px;
        box-shadow: -15px -15px #f1a600, 15px -15px #f1a600;
    }

    .secSecond>img{
        width: 420px;
        box-shadow: -15px -15px #242635, 15px -15px #242635;
    }
   
    .secThird>img{
        width: 420px;
        box-shadow: -15px -15px #f1a600, 15px -15px #f1a600;
    }

    footer img{
        width: 33px;
    }

}
